yarn.lock
dist
dist/*
dist/**/*
**/dist
**/dist/**/*
**/dist/**/*
node_modules
node_modules/*
node_modules/**/*
**/node_modules
**/node_modules/**/*
**/node_modules/**/*

webpack
webpack/*
webpack/**/*
**/webpack
**/webpack/**/*
**/webpack/**/*


@babel
@babel/*
@babel/**/*

 
 



 